<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>Application Details</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form action="" style="width:100%;" [formGroup]="applicationForm">
      <div class="col">

        <!-- application info -->
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="appNumber">Application Number</label>
              <input type="text" formControlName="appNumber" class="form-control" id="appNumber" />

              <!-- <input type="text" formControlName="appNumber" [ngClass]="{'form-control': true,
              'is-invalid': appNumber.invalid && appNumber.touched,
              'is-valid': appNumber.valid}" id="appNumber" />
              <small id="appNumberHelp" *ngIf="appNumber.errors?.required && .touched" class="form-text custom-invalid-feedback">Field is required</small>
              <small id="appNumberHelp" *ngIf="appNumber.errors?.minlength && firstName.touched" class="form-text custom-invalid-feedback">Value must contain atleast 2 characters</small>
             -->
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="appType">Application Type</label>
              <select formControlName="appType" class="form-control" id="appType">
                <option>Home loan</option>
                <option>Personal loan</option>
                <option>Business loan</option>
              </select>
              <!-- <input type="text" formControlName="appType" [ngClass]="{'form-control': true,
              'is-invalid': lastName.invalid && lastName.touched,
              'is-valid': lastName.valid}" id="lnText" placeholder="Enter last name">
              <small id="fnHelp" *ngIf="lastName.invalid && lastName.touched" class="form-text custom-invalid-feedback">Field is required</small> -->
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input type="text" formControlName="amount" class="form-control" id="amount" />
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="status">Status</label>
              <div class="form-check form-check-inline">
                <input formControlName="status" class="form-check-input" type="radio" name="status" id="status-active" value="active">
                <label class="form-check-label" for="status-active">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input formControlName="status" class="form-check-input" type="radio" name="status" id="status-inactive" value="inactive">
                <label class="form-check-label" for="status-inactive">Inactive</label>
            </div>
            </div>
            </div>
            </div>
          
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>


        <!-- Applicant details -->
        <div class="row" formArrayName="applicants">
          <div class="col-12" *ngFor="let group of applicantsArray.controls; let i = index;" [formGroupName]="i">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-8">
                    <h2>Applicant {{i+1}}</h2>
                  </div>
                  <div class="col-4 control-buttons">
                    <button type="button"  class="btn btn-danger mx-3" (click)="removeApplicant(i)"><img src="/assets/icons/remove.svg" alt="Remove appliacant icon" width="24" height="24" /> Remove Applicant</button>    
                  </div>
                </div>
                <hr>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="name">Name</label>
                 <input type="text" formControlName="name" id="addText" />
                    <!-- [ngClass]="{'form-control': true,
                      'is-invalid': group.controls.streetAddress.invalid && group.controls.streetAddress.touched,
                      'is-valid': group.controls.streetAddress.valid}"  placeholder="Enter street address">
                  <small *ngIf="group.controls.streetAddress.invalid && group.controls.streetAddress.touched" class="form-text custom-invalid-feedback">Field is required</small> -->
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <select formControlName="gender" class="form-control" id="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Not disclosed</option>
                  </select>
                </div>
              </div>
          </div>
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
            <div class="col-4 control-buttons">
            <button type="button" (click)="addApplicant()" class="btn btn-primary"><img src="/assets/icons/add.svg" alt="Add applicant icon" /> Add Applicant</button>
            <button type="submit" routerLink="/master" (click)="onSave()" class="btn btn-primary mx-3">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>







<!-- <div class="row">
  <div class="col">
    <h1>Application Details</h1>
    <hr>
  </div>
</div>

<form [formGroup]="applicationForm">
    <div class="mb-3">
      <label for="appNumber">Application Number</label>
      <input type="text" formControlName="appNumber" class="form-control" id="appNumber" />
    </div>
    <div class="mb-3">
        <label for="appType">Application Type</label>
        <select formControlName="appType" class="form-control" id="appType">
          <option>Home loan</option>
          <option>Personal loan</option>
          <option>Business loan</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="amount">Amount</label>
        <input type="number" formControlName="amount" class="form-control" id="amount" />
    </div>
    <div class="form-check form-check-inline">
        <input formControlName="status" class="form-check-input" type="radio" name="status" id="status-active" value="active">
        <label class="form-check-label" for="status-active">Active</label>
    </div>
    <div class="form-check form-check-inline">
        <input formControlName="status" class="form-check-input" type="radio" name="status" id="status-inactive" value="inactive">
        <label class="form-check-label" for="status-inactive">Inactive</label>
    </div>

      <div class="row">
        <div class="col">
          <hr>
        </div>
      </div>

    <div formArrayName="applicants" *ngFor="let group of applicantsArray.controls; let i=index">
    <div [formGroupName]="i">
      <div class="col-4 control-buttons">
       
      <button type="button" (click)="addApplicant()" class="btn btn-primary">Add Applicant</button>
      <button type="button"  class="btn btn-danger mx-3">Remove Applicant</button>     
     </div> 
    </div>
    </div>
        <div class="form-group">
        <div class="mb-3">
            <label for="name">Full Name</label>
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter full name">
        </div>  
        <div class="mb-3">
            <label for="gender">Gender</label>
            <select formControlName="gender" class="form-control" id="gender">
              <option>Male</option>
              <option>Female</option>
              <option>Not disclosed</option>
            </select>
        </div>
    </div>
    <button type="button" class="btn btn-info">Cancel</button>
    <button type="submit" (click)="onSubmit()" class="btn btn-success mx-3">Save</button>
  </form> -->