 <div [formGroup] ="form">
  <label for="appIDType">Application ID Type</label>
  <!-- <mat-button-toggle-group
     aria-label="Font Style" [ngModel]="appIDType"
      (ngModelChange)="onToggleButtonChange($event)" multiple
      name="appIDType" [ngModelOptions]="{standalone: true}" > -->
      <mat-button-toggle-group
      aria-label="Font Style" 
        multiple
       name="appIDType"  >

    <mat-button-toggle value="Australian Passport">Australian Passport</mat-button-toggle>
    <mat-button-toggle value="Driver Licence">Driver Licence</mat-button-toggle>
    <mat-button-toggle value="Foreign Passport">Foreign Passport</mat-button-toggle>
    <mat-button-toggle value="Foreign ID Card">Foreign ID Card</mat-button-toggle>
  </mat-button-toggle-group>
</div>

 <!-- <div class="btn-group btn-group-lg"> 

  <button type="button"
  class="btn btn-secondary"
  >low</button> 
  
  <button type="button"
  class="btn btn-secondary">medium</button>
  
  <button type="button"
  class="btn btn-secondary"
  
   >high</button> 
  </div> -->